<div class="hero">
    <div role="alert">
        <strong>{{t:'Orari'}}</strong> {{t:orari.orari}} <br />
        <strong>{{t:'Giorno di chiusura'}}</strong> {{t:orari.giornoDiChiusura}}
        {{if orari.mostraChiusuraStagionale}}
        <div><strong>{{t:'Chiusura stagionale'}}</strong> {{t:orari.chiusuraStagionale}}</div>
        {{/if}}
    </div>
    <div class="u-container">
        <h1>{{:logo}} <span>Ristorante Nordkapp</span></h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus temporibus asperiores minima.</p>
        <img src="/img/ristorante-nordkapp-hero.jpg" alt="Ristorante Nordkapp">
    </div>
</div>