<div class="u-container u-pt-2 u-pt-2 menu">
    <h2 class="u-titolosezione">Menu</h2>
    <dl>
        <dt class="u-font-serif">{{t:'Antipasti'}}</dt>
        <dd>
            <ul class="u-list-reset">
                {{for antipasti}}
                <li><span>{{>prezzo}}€</span>{{t:nome}}</li>
                {{/for}}
            </ul>
        </dd>
        <dt class="u-font-serif">{{t:'Primi'}}</dt>
        <dd>
            <ul class="u-list-reset">
                {{for primi}}
                <li><span>{{>prezzo}}€</span>{{t:nome}}</li>
                {{/for}}
            </ul>
        </dd>
        <dt class="u-font-serif">{{t:'Secondi'}}</dt>
        <dd>
            <ul class="u-list-reset">
                {{for secondi}}
                <li><span>{{>prezzo}}€</span>{{t:nome}}</li>
                {{/for}}
            </ul>
        </dd>
        <dt class="u-font-serif">{{t:'Dolci'}}</dt>
        <dd>
            <ul class="u-list-reset">
                {{for dolci}}
                <li><span>{{>prezzo}}€</span>{{t:nome}}</li>
                {{/for}}
            </ul>
        </dd>
    </dl>
    {{if mostraFuoriMenu}}
    <aside>
        <p><strong class="u-font-serif">{{t:'Fuori menu'}}</strong></p> 
        {{t:fuoriMenu}}
    </aside>
    {{/if}}
</div>
    