<div class="u-container u-pt-2 u-pt-2">
    <h2 class="u-titolosezione">{{t:'Il ristorante'}}</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quae aspernatur quasi ut. Tempore consectetur dolore ratione quam ipsum enim nemo. Animi facere praesentium ducimus eum id, labore voluptatibus est.</p>
    <div class="siema ristorante-carosello">
        <img src="/img/ristorante-nordkapp-slide-0.jpg" alt="Ristorante Nordkapp Gressoney">
        <img src="/img/ristorante-nordkapp-slide-1.jpg" alt="Ristorante Nordkapp Gressoney">
        <img src="/img/ristorante-nordkapp-slide-2.jpg" alt="Ristorante Nordkapp Gressoney">
        <img src="/img/ristorante-nordkapp-slide-3.jpg" alt="Ristorante Nordkapp Gressoney">
        <img src="/img/ristorante-nordkapp-slide-4.jpg" alt="Ristorante Nordkapp Gressoney">
    </div>
    <div class="ristorante-carosello-pager"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat, hic mollitia, sed corporis est temporibus, ratione fugit voluptas minus quisquam nostrum laborum commodi. Sequi rem quas consectetur officiis vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla officia nostrum in consequatur qui nihil! Illum distinctio maiores nisi quia ea atque nesciunt veritatis cupiditate! Quaerat molestias soluta at.</p>
</div>
