.conserve ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.conserve li {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    background: var(--colorThemeXDark);
}

.conserve img {
    max-width: 100%;
}

.conserve span {
    color: var(--colorWhite);
    background: var(--colorPrimary);
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5em 1em;
}

.conserve ul p {
    font-family: var(--fontSerif);
    color: var(--colorWhite);
    padding: 1em;
    margin: 0;
}