.hero {
    background: linear-gradient(var(--colorThemeXXDark) 70%, var(--colorThemeDark) 70%);
    color: #cbc6c5;
} 

.hero h1 {
    display: grid;
    grid-template-columns: 2em auto;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--colorWhite);
}

.hero-logo svg {
    height: 2em;
}

.hero img {
    max-width: var(--containerWidth);
    width: 100%;
    object-fit: cover;
    border: 0.5em solid var(--colorThemeXLight);
}

.hero [role="alert"] {
    background: var(--colorSecondary);
    padding: 1em 0;
    font-size: 0.85em;
    color: var(--colorBlack);
}

.hero [role="alert"] button {
    background: none;
    color: var(--colorBlack);
    -webkit-appearance: none;
    border: none;
    font-weight: bold;
    border-radius: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.hero-orari svg {
    height: 1em;
    margin-left: 0.5em;
}

.orari-icon-up {
    display: none;
}

.orari-extended {
    max-height: 0;
    overflow: hidden;
}

.hero-orari.js-is-open .orari-extended {
    max-height: 1000px;
    overflow: visible;
    padding-top: 1em;
    transition: all 0.2s ease-in-out;
}

.hero-orari.js-is-open .orari-icon-up {
    display: block;
}

.hero-orari.js-is-open .orari-icon-down {
    display: none;
}

