
.menu dd {
    margin: 0;
}

.menu ul {
    margin-bottom: 3em;
}

.menu li {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 2em;
    margin-bottom: 0.75em;
    padding-bottom: 0.25em;
    border-bottom: 1px dashed var(--colorTheme);
}

.menu li span {
    font-weight: bold;
    color: var(--colorThemeXDark);
    order: 2;
    font-family: var(--fontSerif);
    font-size: 1.2em;
}

.menu aside strong,
.menu dt {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}