.ristorante-carosello img {
    width: 100%;
}

.ristorante-carosello {
    position: relative;
    text-align: center;
}

.ristorante-carosello button {
    background: none;
    border: none;
    appearance: none;
    color: var(--colorWhite);
    height: 2em;
    margin-top: -2.5em;
}

.ristorante-carosello button:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 50%;
}
  
.ristorante-carosello button:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 50%;
}

.ristorante-carosello svg {
    height: 100%;
}

.ristorante-carosello-pager {
    font-size: 2em;
    color: var(--colorTheme);
}

.ristorante-carosello-pager.js-is-active {
    color: var(--colorPrimary);
}